.section {
    position: relative;
  }
  .section .title-area {
    min-width: 1170px;
    margin: 0 auto 70px;
    display: block;
    padding: 0 15px;
    text-align: left;
  }
  .section .title-area .description {
    font-size: 16px;
    color: #777777;
  }
  .section [class*="col-"] .title-area {
    padding: 0;
  }
  .section .text-area {
    padding: 4.375em 0;
    position: relative;
    z-index: 3;
    display: block;
  }
  .section .text-area .description,
  .section .text-area .description p {
    font-size: 16px;
    color: #777777;
  }
  .section .parallax,
  .section .static-image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
  }
  .section .parallax > img,
  .section .parallax .filter > img,
  .section .static-image > img,
  .section .static-image .filter > img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
  }
  .section .parallax-small {
    height: 65vh;
  }
  .section .responsive-background {
    position: relative;
    background-color: #c5a47e;
    padding: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
  }
  .section .nav > li {
    display: inline-block;
  }
  .section .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    display: block;
  }
  .section-header,
.section-header-blog,
.section-presentation-page {
  padding: 0;
}
.section-header .container,
.section-header-blog .container,
.section-presentation-page .container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}
.section-header .content,
.section-header-blog .content,
.section-presentation-page .content {
  position: relative;
  color: white;
  text-align: left;
  vertical-align: center;
  line-height: 1.7;
  position: relative;
  top: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-header .btn,
.section-header-blog .btn,
.section-presentation-page .btn {
  text-shadow: none;
}
.section-header h1,
.section-header-blog h1,
.section-presentation-page h1 {
  font-weight: 400;
  font-size: 3.6em;

}
.section-header h5,
.section-header-blog h5,
.section-presentation-page h5 {
  font-size: 1.3em;
  margin: 0 auto .5em;
  line-height: 1.5;
  letter-spacing: 0.125;

}
.section-header p,
.section-header-blog p,
.section-presentation-page p {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
}
.section-header p span,
.section-header-blog p span,
.section-presentation-page p span {
  text-transform: lowercase;
}
.section-header .separator,
.section-header-blog .separator,
.section-presentation-page .separator {
  color: #fff;
  margin: 30px auto;
}
.section-header .separator.line-separator:before, .section-header .separator.line-separator:after,
.section-header-blog .separator.line-separator:before,
.section-header-blog .separator.line-separator:after,
.section-presentation-page .separator.line-separator:before,
.section-presentation-page .separator.line-separator:after {
  border-color: white;
}

.section-header-small .parallax,
.section-header-small .static-image {
  min-height: 50vh;
  height: auto;
}
.section .parallax > img,
.section .parallax .filter > img,
.section .static-image > img,
.section .static-image .filter > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.section .parallax > img,
.section .parallax .filter > img,
.section .static-image > img,
.section .static-image .filter > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.filter.filter-color-red:before {
    background: #fefefe;
  }  