/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 17
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 400;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 20px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}
.mr {margin-right: 15px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}


/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 8px 30px 9px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

.btn-subscribe {
	background: #f7ca18;
	color: white;
	border-radius: 50px;
	margin-left: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 11px 28px 10px 28px;
}


/* Buttons Configuration */
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 11px 28px 10px 28px;
	}

.btn-theme {
	background: #f7ca18;
	color: white
}

/* Bootstrap Modification */

hr {
	border: 1px solid #5a5a5a;
	width: 70px;
}

/* HEADER CONFIGURATION - CREATED BY CODROPS */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	/*background-image: url('../img/demo-1-bg.jpg');*/
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 40%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-tagline {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 55%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-size: 18px;
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 42px;
	letter-spacing: 4px;
}
.main-title .thin {
	font-weight: 100;
}


@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 30px;
	}
}

/* BLACK SECTION */
#blk {
	background: #ffffff;
	padding-bottom: 70px;
	padding-top: 20px;
}

#blk h5 {
	color: #f7ca18;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#blk hr {
	border: 1px solid #f7ca18;
	width: 100px;
}

/* Grey Section */
#grey {
	background: #f3f3f3;
	padding-bottom: 80px;
	padding-top: 80px;
}

.icon {
	font-size: 40px;
}

#grey h5 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* News Section */
.news {
	background-position: center;
	background-image: url('../img/news-bg.jpg');
	background-size: cover;
}

.news .container {
	width: 100%
}

.section-bg-color {
	background-color: #fff;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 80px;
}

.section-bg-color h3, .section-bg-color h1, .section-bg-color p {
	margin-left: 25px;
	margin-right: 25px
}

.section-bg-color h3 {
	font-weight: 300;
}

.section-bg-color h1 {
	font-weight: 900;
	text-transform: uppercase;
}

.section-bg-color hr{
	border-bottom: 1px solid #e5e6ec;
	border-top: transparent;
	width: 100%; 
}

.section-bg-color hr.blog {
	border: 2px solid #5a5a5a;
	width: 70px;
	margin-left: 25px;
}

nm {
	font-size: 12px;
	color: #939399;
	font-weight: 400;
}

/*PORTFOLIO SECTION*/
#portfolio {
    position: relative;
    padding-bottom: 0;
}
.cbp-item-wrapper {
    background: #1D1D25;
}
.cbp-item-wrapper a img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.4;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.cbp-item-wrapper a:hover img {
    opacity: 0.8;
}
.cbp-l-caption-title {
	color: #fff;
	font: 400 16px/18px sans-serif;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

/* FEATURED SECTION */
#featured {
	padding-bottom: 0;
	background: url("../img/featured.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	color: #b9b9b9;
	text-align: center;
}

#featured .overlay {
	padding-bottom: 0;
	background: none repeat scroll 0 0 rgba(40, 40, 40, 0.9);
	padding-top: 100px;
	width: 100%;
	height: 100%;
}

#featured h5 {
	color: #f7ca18;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#featured p {
	color: #b9b9b9;
}

#featured hr {
	border: 1px solid #f7ca18;
	width: 100px;
}