    <!-- <tr>
         <td valign="middle" style="text-align: right; padding: 10px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;">
                <p style="color: #000;  margin: 0;">Advertisement</p>
            </td>
</tr> 
            <tr>
                    <td bgcolor="#ffffff" align="center">
                        <a href="https://thenerveafrica.com/contact-us/"target="_blank" >
                            <img src="http://i64.tinypic.com/2hxvm6u.jpg" width="600" height="" alt="alt_text" border="0" align="center" style="max-width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="g-img">
    
                        </a>
                    </td>
                </tr>


            <tr>
                    <td aria-hidden="true" height="50" style="font-size: 0; line-height: 0;">
                        &nbsp;
                    </td>
                </tr> -->