.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5000;
}

.fraction-slider .active-slide{
	z-index:9999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7000;
}

.fraction-slider .fs_fixed_obj{
	z-index:6000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:453px;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	width:56px; 
	height:56px;
	z-index:9999;
}

.fraction-slider .prev{
	left:0; 
	top:50%;
	margin-top: -28px;
	background: url("images/background/bg/1.png");
	background: rgba(255, 255, 255, 0.3);
	text-align: center;
	line-height: 57px;
	font-size: 40px;
	color: #2a3342;
	border: 1px solid #fff;
}
.fraction-slider .prev:hover{
	
}

.fraction-slider .next{
	right:0; 
	top:50%;
	margin-top: -28px;
	background: url("images/background/bg/1.png");
	background: rgba(255, 255, 255, 0.3);
	text-align: center;
	line-height: 57px;
	font-size: 40px;
	color: #2a3342;
	border: 1px solid #fff;
}
.fraction-slider .next:hover{
	
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:9999;	
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active{
	
}