.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden
}
.masthead {
    padding: 1.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    transition: transform 0.4s cubic-bezier(0.32, 0.01, 0, 1), color 0.2s cubic-bezier(0.32, 0.01, 0, 1), background-color 0s cubic-bezier(0.32, 0.01, 0, 1), padding 0.4s cubic-bezier(0.32, 0.01, 0, 1);
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-transform: translateY(0%);
    transform: translateY(0%)
}
.masthead-left {
    -ms-flex-order: -1;
    order: -1;
    pointer-events: auto
}

.masthead-right {
    pointer-events: auto
}

.logo-text {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.logo-image {
    width: 100%;
    height: 100%;
    fill: #404040
}