

::selection{
  background: red;
}
::-moz-selection{
  background: red;
}
blockquote:before, .txt-highlight, 
.kopa-toggle-widget .panel-group .panel .panel-heading, 
.column.active .title-row, .column.active .footer-row .pt-btn, .column ul li.title-row span, .column ul li.pricing-row, .column ul li.footer-row .pt-btn:hover, 
.kopa-tab-2-widget .nav-tabs li > a:hover, .kopa-tab-2-widget .nav-tabs li.active > a, .kopa-tab-2-widget .nav-tabs li.active > a:hover, .kopa-tab-2-widget .nav-tabs li.active > a:focus, .kopa-dropcap, .progress .progress-bar-danger, .kopa-button, .color-button, .border-button:hover, .span-button span, 
.kopa-header-bottom .wrapper .left-color-bg, .kopa-header-bottom .wrapper .left-color-bg .left-color-bg-outer, 
.bg-feature span, .home-slider-widget .kopa-home-slider .flex-direction-nav li:hover, .home-slider-2-widget .kopa-home-slider .flex-direction-nav li:hover, 
.kopa-home-slider-4-widget .kopa-home-slider .flex-direction-nav li:hover, .owl-theme .owl-controls .owl-buttons div:hover, .home-slider-2-widget .entry-item .entry-content .entry-title, .home-slider-2-widget .owl-theme .owl-controls:before, .article-list-0 ul li .entry-item .entry-content header, .article-list-0 ul li .entry-item .entry-content .entry-title span, .kopa-testimonial-widget .widget-title, .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls .owl-page:hover span, .kopa-tagline-widget .tagline-left, .portfolio-list .portfolio-item .portfolio-thumb .thumb-hover ul li a, .kopa-newsletter-widget .newsletter-form .input-email .submit, .sv-icon, .widget-title.style1, .entry-date.style1 > span.entry-day, .kopa-portfolio-2-widget .portfolio-list-item .portfolio-item:hover .portfolio-thumb .thumb-icon:hover, 
.filters-options li:before, .filters-options2 li:before, 
.filters-options li:after, .filters-options2 li:after,  
.filters-options li:before, .filters-options2 li:after, 
.widget-title.style3:before, 
.widget-title.style5:before, .kopa-team-widget .owl-carousel-4 .entry-content > header:before, .kopa-team-widget .owl-carousel-4 .owl-controls .owl-buttons div:hover, .kopa-loadmore span:hover, .widget-title.style4:before, .pagination ul li .current, #back-top a, .kopa-pagination ul li:hover, .kopa-pagination ul li.current, .slider-intro-2, .slider-link > a:hover, .right-area, .right-area:before,  .kopa-social-link-widget .social-links li a:hover, .product-info > ul > li.cl-border:hover > a, .woocommerce ul.products > li .onsale, .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products > li .onsale, .woocommerce-page ul.products li.product .onsale, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce input#submit, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page input#submit, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce input#submit.alt, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce nav.woocommerce-pagination ul li:hover a, .woocommerce nav.woocommerce-pagination ul li.current a, .woocommerce #content nav.woocommerce-pagination ul li:hover a, .woocommerce #content nav.woocommerce-pagination ul li.current a, .woocommerce-page nav.woocommerce-pagination ul li:hover a, .woocommerce-page nav.woocommerce-pagination ul li.current a, .woocommerce-page #content nav.woocommerce-pagination ul li:hover a, .woocommerce-page #content nav.woocommerce-pagination ul li.current a, .woocommerce nav.woocommerce-pagination ul li.current span, .woocommerce #content nav.woocommerce-pagination ul li.current span, .woocommerce-page nav.woocommerce-pagination ul li.current span, .woocommerce-page #content nav.woocommerce-pagination ul li.current span, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .contact-button > span input, .social-links.style2 > li:hover, .kopa-author .author-social-link .social-filter > div > a, .kopa-author .author-social-link .social-filter ul li, .panel-group .panel .panel-heading > .panel-title a .b-collapse{
    background: red;
}
a:hover, a:active, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .h1 a:hover, .widget-title.style2 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .kopa-portfolio-widget .widget-title a:hover, .widget-title.style4 a:hover, .h5 a:hover, .h6 a:hover, .filters-options li a:hover, .filters-options2 li a:hover, .kopa-loadmore span a:hover, .txt-decoration-2, .column.active .pricing-row span, .column ul li.title-row, .column ul li.footer-row .pt-btn, .border-button, .color-button:hover, .social-links li a:hover, .search-box .search-form .search-submit:hover, .main-nav-mobile .main-menu-mobile > li > a:hover, .main-nav-mobile .main-menu-mobile > li .sub-menu li a:hover,
.widget_categories > ul > li:hover:before, .widget_categories ul.menu > li:hover:before,
    .widget_recent_entries > ul > li:hover:before,
    .widget_recent_entries ul.menu > li:hover:before,
    .widget_archive > ul > li:hover:before,
    .widget_archive ul.menu > li:hover:before,
    .widget_meta > ul > li:hover:before,
    .widget_meta ul.menu > li:hover:before,
    .widget_nav_menu > ul > li:hover:before,
    .widget_nav_menu ul.menu > li:hover:before,
    .widget_pages > ul > li:hover:before,
    .widget_pages ul.menu > li:hover:before,
    .widget_recent_comments > ul > li:hover:before,
    .widget_recent_comments ul.menu > li:hover:before,
    .widget_rss > ul > li:hover:before,
    .widget_rss ul.menu > li:hover:before,
    .widget_rss > ul > li a,
    .post-date, .widget_calendar thead th, .widget_calendar tbody a, #bottom-sidebar a:hover,
     #bottom-sidebar .widget_categories > ul > li:hover:before, #bottom-sidebar .widget_categories ul.menu > li:hover:before,
    #bottom-sidebar .widget_recent_entries > ul > li:hover:before,
    #bottom-sidebar .widget_recent_entries ul.menu > li:hover:before,
    #bottom-sidebar .widget_archive > ul > li:hover:before,
    #bottom-sidebar .widget_archive ul.menu > li:hover:before,
    #bottom-sidebar .widget_meta > ul > li:hover:before,
    #bottom-sidebar .widget_meta ul.menu > li:hover:before,
    #bottom-sidebar .widget_nav_menu > ul > li:hover:before,
    #bottom-sidebar .widget_nav_menu ul.menu > li:hover:before,
    #bottom-sidebar .widget_pages > ul > li:hover:before,
    #bottom-sidebar .widget_pages ul.menu > li:hover:before,
    #bottom-sidebar .widget_recent_comments > ul > li:hover:before,
    #bottom-sidebar .widget_recent_comments ul.menu > li:hover:before,
    #bottom-sidebar .widget_rss > ul > li:hover:before,
    #bottom-sidebar .widget_rss ul.menu > li:hover:before, 
    #bottom-sidebar .widget_rss .menu-testing-menu-container > ul > li:hover:before ,
    .home-slider-widget .kopa-home-slider .entry-item .slider-caption h2 a:hover, .home-slider-2-widget .kopa-home-slider .entry-item .slider-caption h2 a:hover, .kopa-home-slider-4-widget .kopa-home-slider .entry-item .slider-caption h2 a:hover,
    .home-slider-2-widget .owl-theme .owl-controls .owl-buttons div, .home-slider-2-widget .owl-theme .owl-controls .owl-buttons div:hover, 
    .kopa-testimonial-widget .item footer a, .kopa-tagline-widget .tagline-right a:hover, 
    .kopa-portfolio-widget .author-info .social-links li:hover a, 
    #bottom-sidebar .widget .textwidget > ul > li a:hover, .sv-icon:hover, 
    .article-list-1 .entry-content > p span, .twitter-icon, 
    .kopa-twitter-widget > ul > li .twitter-content span a, 
    .kopa-twitter-widget .owl-carousel .item > ul > li .twitter-content span a, 
    .kopa-blog-masonry-widget .ms-item1 .entry-item .entry-content .entry-title a:hover, 
    .kopa-testimonial-2-widget .item > p:before, 
    .kopa-testimonial-2-widget .item > p:after, .filters-options li.active, 
    .filters-options li:hover, .filters-options2 li.active, .filters-options2 li:hover, 
    .kopa-mission-list li span:first-child, 
    .kopa-team-widget .owl-carousel-4 .entry-thumb .thumb-hover > ul > li a:hover, 
    .more-link, .entry-author:hover, .entry-comments:hover, 
    .entry-categories:hover, .entry-meta > span a:hover, .entry-meta > p a:hover, 
    .slider-caption, #bottom-sidebar address a:hover, address p > i, .kopa-rating li, 
    .product-info > ul > li > a:hover i, .product-info > ul > li.cl-border > a > i, 
    .owl-carousel-9 .owl-controls .owl-buttons div:hover, 
    .woocommerce ul.products > li .price, .woocommerce ul.products li.product .price, 
    .woocommerce-page ul.products > li .price, .woocommerce-page ul.products li.product .price, 
    .woocommerce a.button:before, .woocommerce button.button:before, .woocommerce input.button:before, .woocommerce input#submit:before, .woocommerce #content input.button:before, .woocommerce #respond input#submit:before, .woocommerce-page a.button:before, .woocommerce-page button.button:before, .woocommerce-page input.button:before, .woocommerce-page input#submit:before, .woocommerce-page #content input.button:before, .woocommerce-page #respond input#submit:before, .contact-box label.error, #respond label.error, .contact-button > span:hover input, .contact-button > span:hover:before, .social-links.style3 > li:hover > a, #comments .comments-list .comment .comment-wrap .media-body > header .comment-button .comment-reply-link, .error-404 .left-col p, .error-404 .right-col h1, .error-404 .right-col a:hover, #kopa-page-footer a:hover, .kopa-toggle-widget .panel-group .panel .panel-heading > .panel-title a .b-collapse   {
    color: red;
}
.column ul li.footer-row .pt-btn, .kopa-tab-2-widget .nav-tabs li > a:hover, .kopa-tab-2-widget .nav-tabs li.active > a, .kopa-tab-2-widget .nav-tabs li.active > a:hover, .kopa-tab-2-widget .nav-tabs li.active > a:focus, .progress.bar-danger, .color-button, .border-button:hover, .border-button, .color-button:hover, .span-button, .home-slider-2-widget .owl-theme .owl-controls, .owl-theme .owl-controls .owl-page span, .kopa-portfolio-widget .author-info .social-links li:hover, .sv-icon, .kopa-team-widget .owl-carousel-4 .owl-controls .owl-buttons div:hover, .kopa-event-widget .kopa-event-content .event-post-content > ul > li .entry-item > span.entry-icon:before, .pagination ul li .current, .kopa-pagination ul li:hover, .kopa-pagination ul li.current, .slider-link > a:hover, .kopa-social-link-widget .social-links li a:hover, .product-info > ul > li.cl-border, .kopa-brand-widget .brand-link:hover, .owl-carousel-9 .owl-controls .owl-buttons div:hover, .woocommerce nav.woocommerce-pagination ul li:hover a, .woocommerce nav.woocommerce-pagination ul li.current a, .woocommerce #content nav.woocommerce-pagination ul li:hover a, .woocommerce #content nav.woocommerce-pagination ul li.current a, .woocommerce-page nav.woocommerce-pagination ul li:hover a, .woocommerce-page nav.woocommerce-pagination ul li.current a, .woocommerce-page #content nav.woocommerce-pagination ul li:hover a, .woocommerce-page #content nav.woocommerce-pagination ul li.current a, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .contact-box input:focus, .contact-box textarea:focus, #respond input:focus, #respond textarea:focus, .contact-button > span input {
	border-color: red;
}
.contact-button > span input{
  border-color: red !important; 
}
.contact-button > span:hover input{
  color: red !important;
}
.nav-tabs li > a:hover, .nav-tabs li.active > a, .nav-tabs li.active > a:hover, .nav-tabs li.active > a:focus, .kopa-header-bottom .wrapper .left-color-bg .triangle {
	border-top-color: red;
}
.kopa-tagline-widget .tagline-left .triangle{
	border-left-color: red;
}
.right-area:after{
	border-right-color: red;
}


/* ----------------------------------- */

.b-line, .txt-decoration, body, .main-nav-mobile .main-menu-mobile > li .sub-menu li a, .widget_categories select, .widget_archive select, .widget_nav_menu select,
.widget_pages select, .widget_recent_comments select, .widget_rss select, .textwidget select, .widget_calendar caption, .widget_calendar tbody td, .widget_calendar thead th, .widget_search form.search-form input, .widget_search form.search-form .search-submit, .kopa-twitter-widget > ul > li .twitter-content > a, .kopa-twitter-widget .owl-carousel .item > ul > li .twitter-content > a, .filters-options li, .filters-options2 li, .kopa-team-widget .owl-carousel-4 .owl-controls .owl-buttons div, .article-list-3 .entry-date > i, .entry-meta > span a, .entry-meta > p a, .kopa-breadcrumb .pull-right > span > a, .kopa-breadcrumb .pull-right .current-page span, .woocommerce-checkout .form-row .chosen-container-single .chosen-single, .input-label > span, .textarea-label > span, .social-links.style2 > li > a, .kopa-tag-box a, .social-links.style3 > li > a,
.owl-carousel-8.owl-theme .owl-controls .owl-buttons div, .owl-theme.owl-carousel-9 .owl-controls .owl-buttons div, .kopa-related-post .portfolio-item > span.entry-date, .kopa-related-post .portfolio-item > span.entry-date > i, #comments .comments-list .comment .comment-wrap .media-body > header .pull-left span, .single-other-post .fa {
    color: #888888;
}
  .b-line span:first-child, .kopa-dropcap.dc3 {
    background: #888888;
}
#bottom-sidebar .widget_calendar, #bottom-sidebar .widget_calendar caption, #bottom-sidebar .widget_calendar tfoot, #bottom-sidebar .widget_calendar thead th, #bottom-sidebar .widget_calendar tfoot td a, #bottom-sidebar .widget_calendar tbody td, 
#bottom-sidebar .widget_categories > ul > li, #bottom-sidebar .widget_categories ul.menu > li,
  #bottom-sidebar .widget_recent_entries > ul > li,
  #bottom-sidebar .widget_recent_entries ul.menu > li,
  #bottom-sidebar .widget_archive > ul > li,
  #bottom-sidebar .widget_archive ul.menu > li,
  #bottom-sidebar .widget_meta > ul > li,
  #bottom-sidebar .widget_meta ul.menu > li,
  #bottom-sidebar .widget_nav_menu > ul > li,
  #bottom-sidebar .widget_nav_menu ul.menu > li,
  #bottom-sidebar .widget_pages > ul > li,
  #bottom-sidebar .widget_pages ul.menu > li,
  #bottom-sidebar .widget_recent_comments > ul > li,
  #bottom-sidebar .widget_recent_comments ul.menu > li,
  #bottom-sidebar .widget_rss > ul > li,
  #bottom-sidebar .widget_rss ul.menu > li, 
  #bottom-sidebar .widget_rss ul li, #bottom-sidebar .textwidget, #bottom-sidebar .textwidget p strong, #bottom-sidebar .textwidget > ul > li a,
  #bottom-sidebar .tagcloud a, .kopa-home-slider-4-widget .slider .fraction-slider .prev, .kopa-home-slider-4-widget .slider .fraction-slider .next, .kopa-social-link-widget .social-links li a, .product-info > ul > li > a, .article-list-4 .entry-item .entry-content .entry-date > i, 
  .woocommerce .upsells.products .products > li .price del, .woocommerce .upsells.products .products li.product .price del,
      .woocommerce ul.products > li .price del,
      .woocommerce ul.products li.product .price del, .woocommerce-page .upsells.products .products > li .price del, .woocommerce-page .upsells.products .products li.product .price del,
      .woocommerce-page ul.products > li .price del,
      .woocommerce-page ul.products li.product .price del,
      .contact-box input, .contact-box textarea, #respond input, #respond textarea
      {
    border-color: #888888;
}


/* ----------------------------------- */


.kopa-testimonial-2-widget .item > p, .kopa-testimonial-2-widget .item .tes-author span{
    color: #555555;
}


/* ----------------------------------- */

.kopa-event-widget .kopa-event-content .kopa-line {
    background: #dadada; 
}


/* ----------------------------------- */

.slide-link, .slide-intro, .slide-caption {
  color: #3a4245;
}
.slide-intro:before {
    background: #3a4245;
}
.slide-link {
  border-color: #3a4245;
}


/* ----------------------------------- */

.kopa-testimonial-3-widget .item .tes-author > p {
      color: #c1c1c1; 
}


/* ----------------------------------- */

.home-slider-2-widget .owl-theme .owl-controls {
    box-shadow: 0px 1px 10px #045678; 
}


/* ----------------------------------- */

.entry-date.style1 > span.entry-month {
    background: #0879a7;
}


/* ----------------------------------- */

.entry-date i {
  color: #9ed3e9; 
}


/* ----------------------------------- */

.article-list-2 .entry-item .entry-date, .article-list-2 .entry-item .entry-date > i, #comments .comments-list .comment .comment-wrap .media-body > header .comment-button .comment-number {
  color: #7e95a8; 
}


/* ----------------------------------- */


.kopa-newsletter-widget .newsletter-form .input-email .email, .kopa-newsletter-widget .news-icon {
    background: #1779a0;
}
.kopa-newsletter-widget .newsletter-form .input-email .email {
    border-color: #1779a0;
}


/* ----------------------------------- */

a, h1, h2, h3, h4, h5, h6, .h1, .widget-title.style2, .h2, .h3, .h4, .kopa-portfolio-widget .widget-title, .widget-title.style4, .h5, .h6, .filters-options li, .filters-options2 li, .kopa-loadmore span, .element-title, blockquote, .kopa-portfolio-widget .author-info .social-links li a, .kopa-twitter-widget > ul > li .twitter-content span, .kopa-twitter-widget .owl-carousel .item > ul > li .twitter-content span, .kopa-twitter-widget > ul > li .twitter-content span a:hover, .kopa-twitter-widget .owl-carousel .item > ul > li .twitter-content span a:hover, .kopa-mission-list li, .kopa-breadcrumb .pull-left span, address, .input-label p:first-child, .textarea-label, .porfolio-meta > p > span, .kopa-tag-box span, .kopa-share-post, .kopa-author .author-content > header .author-job, .kopa-author .author-social-link > div > span, 
#comments .comments-list .comment .comment-wrap .media-body > header .comment-button .comment-reply-link:hover, #comments .comments-list .comment .comment-wrap .media-body > p, .error-404 .right-col a, .c-title, .panel-group .panel .panel-heading > .panel-title a, .column ul li, .nav-tabs li > a, .nav-tabs li > a:hover, .kopa-dropcap.dc2, .main-nav-mobile .main-menu-mobile > li > a, 
.widget_categories > ul > li, .widget_categories ul.menu > li,
  .widget_recent_entries > ul > li,
  .widget_recent_entries ul.menu > li,
  .widget_archive > ul > li,
  .widget_archive ul.menu > li,
  .widget_meta > ul > li,
  .widget_meta ul.menu > li,
  .widget_nav_menu > ul > li,
  .widget_nav_menu ul.menu > li,
  .widget_pages > ul > li,
  .widget_pages ul.menu > li,
  .widget_recent_comments > ul > li,
  .widget_recent_comments ul.menu > li,
  .widget_rss > ul > li,
  .widget_rss ul.menu > li, 
  .widget_categories > ul > li:before, .widget_categories ul.menu > li:before,
    .widget_recent_entries > ul > li:before,
    .widget_recent_entries ul.menu > li:before,
    .widget_archive > ul > li:before,
    .widget_archive ul.menu > li:before,
    .widget_meta > ul > li:before,
    .widget_meta ul.menu > li:before,
    .widget_nav_menu > ul > li:before,
    .widget_nav_menu ul.menu > li:before,
    .widget_pages > ul > li:before,
    .widget_pages ul.menu > li:before,
    .widget_recent_comments > ul > li:before,
    .widget_recent_comments ul.menu > li:before,
    .widget_rss > ul > li:before,
    .widget_rss ul.menu > li:before, 
    .tagcloud, .tagcloud a:hover, 
    .kopa-portfolio-widget .author-info header strong, .kopa-portfolio-widget .author-info p, .kopa-portfolio-widget .author-info .social-links li a, 
    .kopa-twitter-widget > ul > li .twitter-content span, .kopa-twitter-widget .owl-carousel .item > ul > li .twitter-content span, .txt-color {
    color: #333333; 
}
.nav-tabs li > a, .nav-tabs li > a:hover, .nav-tabs li.active > a, .nav-tabs li.active > a:hover, .nav-tabs li.active > a:focus  {
    color: #333333 !important; 
}
.widget-title.style5:before, .kopa-author .author-social-link .social-filter > div > a:hover, .kopa-author .author-social-link .social-filter ul li:hover, .txt-highlight-2  {
    background: #333333; 
}
.tagcloud a:hover{
    border-color: #333333;
}


/* ----------------------------------- */

blockquote, .panel-group, .column ul li, .nav-tabs li > a, .tab-content, .kopa-tab-2-widget .nav-tabs li > a, .kopa-divider, .main-menu > li ul li, 
.widget_categories select, .widget_archive select, .widget_nav_menu select,
.widget_pages select, .widget_recent_comments select, .widget_rss select, .textwidget select, .widget_search form.search-form .search-text, .widget_search form.search-form input, .widget_search form.search-form .search-submit, .kopa-testimonial-widget, .kopa-portfolio-widget .author-info .social-links li, .kopa-service-2-widget .entry-item, .article-list-1 > ul > li, .twitter-icon, .kopa-team-widget .owl-carousel-4 .owl-controls .owl-buttons div, .kopa-event-widget .kopa-event-content .event-post-content > ul > li .entry-item, .pagination ul li span, .kopa-author, .kopa-author .author-social-link .social-filter > div, .kopa-author .author-social-link .social-filter ul {
    border-color: #e8e8e8;
}
.kopa-toggle-widget .panel-group .panel .panel-body {
      border-color: #e8e8e8 !important; 
}
.panel-group .panel .panel-heading, .main-nav-mobile .main-menu-mobile > li, .main-nav-mobile .main-menu-mobile > li .sub-menu li, .widget_calendar tfoot, .kopa-twitter-widget > ul > li, .kopa-twitter-widget .owl-carousel .item > ul > li, .kopa-loadmore span, .kopa-loadmore span:after, .pagination ul li a, .kopa-tag-box, #comments .kopa-pagination, .single-other-post {
    border-top-color: #e8e8e8;
}
.element-title, .column.active .pricing-row, 
.widget_categories,
.widget_recent_entries,
.widget_archive,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_rss,
.widget_calendar caption, .widget_calendar tbody td, .widget_calendar thead th, .article-list-0 ul li .entry-item , .kopa-service-widget .service-item, .widget-title.style4, .article-list-3 > ul > li, .kopa-entry-list > ul > li, .kopa-entry-post > ul > li, .kopa-tag-box, .kopa-author .author-content > header, .kopa-entry-post > article, .kopa-related-post, #comments .comments-list .children:before {
    border-bottom-color: #e8e8e8;
}
.kopa-event-widget .kopa-event-content .event-post-content > ul > li .entry-item > span.triggle{
    border-left-color: #e8e8e8;
}
.kopa-event-widget .kopa-event-content .event-post-content > ul > li.right-content .entry-item > span.triggle {
    border-right-color: #e8e8e8;
}
blockquote.style-2:before {
    background: #e8e8e8;
}


/* ----------------------------------- */

#bottom-sidebar .widget_categories,
#bottom-sidebar .widget_recent_entries,
#bottom-sidebar .widget_archive,
#bottom-sidebar .widget_meta,
#bottom-sidebar .widget_nav_menu,
#bottom-sidebar .widget_pages,
#bottom-sidebar .widget_recent_comments,
#bottom-sidebar .widget_rss {
  border-bottom-color: #3f3f3f; 
}


/* ----------------------------------- */

.tagcloud a, .kopa-pagination ul li, .product-info > ul > li, .kopa-brand-widget .brand-link, .woocommerce .woocommerce-result-count select, .woocommerce .woocommerce-ordering select, .woocommerce-page .woocommerce-result-count select, .woocommerce-page .woocommerce-ordering select, 
.woocommerce nav.woocommerce-pagination ul li:first-child, .woocommerce #content nav.woocommerce-pagination ul li:first-child, .woocommerce-page nav.woocommerce-pagination ul li:first-child, .woocommerce-page #content nav.woocommerce-pagination ul li:first-child, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span, 
.woocommerce table.shop_table, .woocommerce-page table.shop_table, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th, .woocommerce-checkout input, .woocommerce-checkout textarea, .woocommerce-checkout .form-row .chosen-container-single .chosen-single, .contact-box input, .contact-box textarea, #respond input, #respond textarea, .social-links.style3 > li, .owl-carousel-8.owl-theme .owl-controls .owl-buttons div, .owl-theme.owl-carousel-9 .owl-controls .owl-buttons div, .single-other-post .fa {
    border-color: #d0d0d0;
}


/* ----------------------------------- */


.kopa-header-top .wrapper .hotline-box {
    border-right-color: #d1d1d1; 
}
.kopa-header-top .wrapper .hotline-box .triangle-wrapper {
    border-top-color: #d1d1d1;
}


/* ----------------------------------- */

body {
    background: #fafafa;
}


/* ----------------------------------- */

.kopa-header-bottom, .bg-feature, .kopa-testimonial-widget .owl-controls .owl-buttons div, .kopa-testimonial-widget .owl-controls .owl-buttons div:hover, .kopa-tagline-widget .tagline-right, .left-area, .left-area:before, 
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce input#submit:hover, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover {
    background: #2a3342;
}
.left-area:after {
    border-top-color: #2a3342;
}


/* ----------------------------------- */

#bottom-sidebar, .kopa-area-3 {
    background: #28292d;
}


/* ----------------------------------- */

#kopa-page-footer, #back-top a:hover {
    background: #111111;
}


/* ----------------------------------- */

.kopa-header-top .wrapper .left-bg-color, .kopa-header-top .wrapper .hotline-box {
    background: #f1f1f1;
}
.kopa-header-top .wrapper .hotline-box .triangle {
    border-top-color: #f1f1f1;
}


/* ----------------------------------- */

.search-box .search-form .search-text, 
.main-nav-mobile .main-menu-mobile > li .sub-menu li:hover, 
.kopa-area-2, .kopa-event-widget .kopa-event-content .kopa-line:before, 
.kopa-event-widget .kopa-event-content .kopa-line:after, 
.kopa-event-widget .kopa-event-content .event-post-content > ul > li .entry-item > span.entry-icon, .slider, .social-links.style2 > li, .kopa-author, .column, .column.active .pricing-row   {
    background: #f6f6f6;
}
.kopa-tagline-widget .tagline-right .triangle{
    border-left-color: #f6f6f6;
}


/* ----------------------------------- */

.kopa-parallax .kopa-bg {
    background: #031f34;
}




/* -----
*
long shadow generator 
please visit: http://sandbox.juan-i.com/longshadows/ to change it's color.

*
------ */


.entry-date.style1 > span.entry-day {
  text-shadow: rgb(127, 3, 3) 1px 1px,
    rgb(127, 3, 3) 2px 2px,
    rgb(127, 3, 3) 3px 3px,
    rgb(127, 3, 3) 4px 4px,
    rgb(127, 3, 3) 5px 5px,
    rgb(127, 3, 3) 6px 6px,
    rgb(127, 3, 3) 7px 7px,
    rgb(127, 3, 3) 8px 8px,
    rgb(127, 3, 3) 9px 9px,
    rgb(127, 3, 3) 10px 10px,
    rgb(127, 3, 3) 11px 11px,
    rgb(127, 3, 3) 12px 12px,
    rgb(127, 3, 3) 13px 13px,
    rgb(127, 3, 3) 14px 14px,
    rgb(127, 3, 3) 15px 15px,
    rgb(127, 3, 3) 16px 16px,
    rgb(127, 3, 3) 17px 17px,
    rgb(127, 3, 3) 18px 18px,
    rgb(127, 3, 3) 19px 19px,
    rgb(127, 3, 3) 20px 20px,
    rgb(127, 3, 3) 21px 21px,
    rgb(127, 3, 3) 22px 22px,
    rgb(127, 3, 3) 23px 23px,
    rgb(127, 3, 3) 24px 24px,
    rgb(127, 3, 3) 25px 25px,
    rgb(127, 3, 3) 26px 26px,
    rgb(127, 3, 3) 27px 27px,
    rgb(127, 3, 3) 28px 28px,
    rgb(127, 3, 3) 29px 29px,
    rgb(127, 3, 3) 30px 30px,
    rgb(127, 3, 3) 31px 31px,
    rgb(127, 3, 3) 32px 32px,
    rgb(127, 3, 3) 33px 33px,
    rgb(127, 3, 3) 34px 34px,
    rgb(127, 3, 3) 35px 35px,
    rgb(127, 3, 3) 36px 36px,
    rgb(127, 3, 3) 37px 37px,
    rgb(127, 3, 3) 38px 38px,
    rgb(127, 3, 3) 39px 39px,
    rgb(127, 3, 3) 40px 40px,
    rgb(127, 3, 3) 41px 41px,
    rgb(127, 3, 3) 42px 42px,
    rgb(127, 3, 3) 43px 43px,
    rgb(127, 3, 3) 44px 44px,
    rgb(127, 3, 3) 45px 45px,
    rgb(127, 3, 3) 46px 46px,
    rgb(127, 3, 3) 47px 47px,
    rgb(127, 3, 3) 48px 48px,
    rgb(127, 3, 3) 49px 49px,
    rgb(127, 3, 3) 50px 50px,
    rgb(127, 3, 3) 51px 51px,
    rgb(127, 3, 3) 52px 52px,
    rgb(127, 3, 3) 53px 53px,
    rgb(127, 3, 3) 54px 54px,
    rgb(127, 3, 3) 55px 55px,
    rgb(127, 3, 3) 56px 56px,
    rgb(127, 3, 3) 57px 57px,
    rgb(127, 3, 3) 58px 58px,
    rgb(127, 3, 3) 59px 59px,
    rgb(127, 3, 3) 60px 60px,
    rgb(127, 3, 3) 61px 61px,
    rgb(127, 3, 3) 62px 62px,
    rgb(127, 3, 3) 63px 63px,
    rgb(127, 3, 3) 64px 64px,
    rgb(127, 3, 3) 65px 65px,
    rgb(127, 3, 3) 66px 66px,
    rgb(127, 3, 3) 67px 67px,
    rgb(128, 3, 3) 68px 68px,
    rgb(129, 3, 3) 69px 69px,
    rgb(130, 3, 3) 70px 70px,
    rgb(131, 3, 3) 71px 71px,
    rgb(132, 3, 3) 72px 72px,
    rgb(133, 3, 3) 73px 73px,
    rgb(133, 3, 3) 74px 74px,
    rgb(134, 3, 3) 75px 75px,
    rgb(135, 3, 3) 76px 76px,
    rgb(136, 3, 3) 77px 77px,
    rgb(137, 3, 3) 78px 78px,
    rgb(138, 3, 3) 79px 79px,
    rgb(139, 3, 3) 80px 80px,
    rgb(140, 3, 3) 81px 81px,
    rgb(140, 3, 3) 82px 82px,
    rgb(141, 3, 3) 83px 83px,
    rgb(142, 3, 3) 84px 84px,
    rgb(143, 3, 3) 85px 85px,
    rgb(144, 3, 3) 86px 86px,
    rgb(145, 3, 3) 87px 87px,
    rgb(146, 3, 3) 88px 88px,
    rgb(147, 3, 3) 89px 89px,
    rgb(147, 3, 3) 90px 90px,
    rgb(148, 3, 3) 91px 91px,
    rgb(149, 3, 3) 92px 92px,
    rgb(150, 3, 3) 93px 93px,
    rgb(151, 3, 3) 94px 94px,
    rgb(152, 3, 3) 95px 95px,
    rgb(153, 3, 3) 96px 96px,
    rgb(154, 3, 3) 97px 97px,
    rgb(154, 3, 3) 98px 98px,
    rgb(155, 3, 3) 99px 99px,
    rgb(156, 3, 3) 100px 100px,
    rgb(157, 3, 3) 101px 101px,
    rgb(158, 3, 3) 102px 102px,
    rgb(159, 3, 3) 103px 103px,
    rgb(160, 3, 3) 104px 104px,
    rgb(161, 3, 3) 105px 105px,
    rgb(161, 3, 3) 106px 106px,
    rgb(162, 3, 3) 107px 107px,
    rgb(163, 3, 3) 108px 108px,
    rgb(164, 3, 3) 109px 109px,
    rgb(165, 3, 3) 110px 110px,
    rgb(166, 3, 3) 111px 111px,
    rgb(167, 3, 3) 112px 112px,
    rgb(168, 3, 3) 113px 113px,
    rgb(168, 3, 3) 114px 114px,
    rgb(169, 3, 3) 115px 115px,
    rgb(170, 3, 3) 116px 116px,
    rgb(171, 3, 3) 117px 117px,
    rgb(172, 3, 3) 118px 118px,
    rgb(173, 3, 3) 119px 119px,
    rgb(174, 3, 3) 120px 120px,
    rgb(175, 3, 3) 121px 121px,
    rgb(175, 3, 3) 122px 122px,
    rgb(176, 3, 3) 123px 123px,
    rgb(177, 3, 3) 124px 124px,
    rgb(178, 3, 3) 125px 125px,
    rgb(179, 3, 3) 126px 126px,
    rgb(180, 3, 3) 127px 127px,
    rgb(181, 3, 3) 128px 128px,
    rgb(182, 3, 3) 129px 129px,
    rgb(182, 3, 3) 130px 130px,
    rgb(183, 3, 3) 131px 131px,
    rgb(184, 3, 3) 132px 132px,
    rgb(185, 4, 4) 133px 133px,
    rgb(186, 4, 4) 134px 134px,
    rgb(187, 4, 4) 135px 135px,
    rgb(188, 4, 4) 136px 136px,
    rgb(188, 4, 4) 137px 137px,
    rgb(189, 4, 4) 138px 138px,
    rgb(190, 4, 4) 139px 139px,
    rgb(191, 4, 4) 140px 140px,
    rgb(192, 4, 4) 141px 141px,
    rgb(193, 4, 4) 142px 142px,
    rgb(194, 4, 4) 143px 143px,
    rgb(195, 4, 4) 144px 144px,
    rgb(195, 4, 4) 145px 145px,
    rgb(196, 4, 4) 146px 146px,
    rgb(197, 4, 4) 147px 147px,
    rgb(198, 4, 4) 148px 148px,
    rgb(199, 4, 4) 149px 149px,
    rgb(200, 4, 4) 150px 150px,
    rgb(201, 4, 4) 151px 151px,
    rgb(202, 4, 4) 152px 152px,
    rgb(202, 4, 4) 153px 153px,
    rgb(203, 4, 4) 154px 154px,
    rgb(204, 4, 4) 155px 155px,
    rgb(205, 4, 4) 156px 156px,
    rgb(206, 4, 4) 157px 157px,
    rgb(207, 4, 4) 158px 158px,
    rgb(208, 4, 4) 159px 159px,
    rgb(209, 4, 4) 160px 160px,
    rgb(209, 4, 4) 161px 161px,
    rgb(210, 4, 4) 162px 162px,
    rgb(211, 4, 4) 163px 163px,
    rgb(212, 4, 4) 164px 164px,
    rgb(213, 4, 4) 165px 165px,
    rgb(214, 4, 4) 166px 166px,
    rgb(215, 4, 4) 167px 167px,
    rgb(216, 4, 4) 168px 168px,
    rgb(216, 4, 4) 169px 169px,
    rgb(217, 4, 4) 170px 170px,
    rgb(218, 4, 4) 171px 171px,
    rgb(219, 4, 4) 172px 172px,
    rgb(220, 4, 4) 173px 173px,
    rgb(221, 4, 4) 174px 174px,
    rgb(222, 4, 4) 175px 175px,
    rgb(223, 4, 4) 176px 176px,
    rgb(223, 4, 4) 177px 177px,
    rgb(224, 4, 4) 178px 178px,
    rgb(225, 4, 4) 179px 179px,
    rgb(226, 4, 4) 180px 180px,
    rgb(227, 4, 4) 181px 181px,
    rgb(228, 4, 4) 182px 182px,
    rgb(229, 4, 4) 183px 183px,
    rgb(230, 4, 4) 184px 184px,
    rgb(230, 4, 4) 185px 185px,
    rgb(231, 4, 4) 186px 186px,
    rgb(232, 4, 4) 187px 187px,
    rgb(233, 4, 4) 188px 188px,
    rgb(234, 4, 4) 189px 189px,
    rgb(235, 4, 4) 190px 190px,
    rgb(236, 4, 4) 191px 191px,
    rgb(237, 4, 4) 192px 192px,
    rgb(237, 4, 4) 193px 193px,
    rgb(238, 4, 4) 194px 194px,
    rgb(239, 4, 4) 195px 195px,
    rgb(240, 4, 4) 196px 196px,
    rgb(241, 4, 4) 197px 197px,
    rgb(242, 4, 4) 198px 198px,
    rgb(243, 4, 4) 199px 199px,
    rgb(244, 5, 5) 200px 200px;
     }